.slider-wrapper{
  width:200px;
  height:200px;
  margin:20px auto;
  border:1px solid lightpink;
  position: relative;
}

.slider{
  width:200px;
  height:200px;
  position: absolute;
  transition: 0.5s;
}

.slider img{
  width:100%;
  height:100%;
}
