*{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}
.slider-wrapper{
  width:200px;
  height:200px;
  margin:20px auto;
  border:1px solid lightpink;
  position: relative;
}
.slider-container{
  width:400px;
  height:200px;
  position: absolute;
  left:0;
  top:0;
}
.slider{
  width:200px;
  height:200px;
  transition: 2s;
  float:left;
}

.slider img{
  width:100%;
  height:100%;
}
