*{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}
.slider-wrapper{
  width:200px;
  height:200px;
  margin:0 auto;
  overflow: hidden;
  position: relative;
}

.sliders{
  height:200px;
  position: absolute;
  transition: 1s;
}

.slider{
  width:200px;
  height:200px;
  float:left;
}
.slider img{
  width:100%;
  height:100%;
}

.arrows{
  position: absolute;
  width:100%;
  height:20px;
  z-index:99;
  top:50%;
  margin-top:-10px;
}

.arrows .arrow{
  display:inline-block;
  width:18px;
  height:18px;
  text-align:center;
  cursor: pointer;
}
.arrows .arrow:hover{
  background-color: #CCC;
}

.arrows .arrow-left{
  float:left;
}

.arrows .arrow-right{
  float:right;
}

.slider-dots{
  position: absolute;
  bottom: 20px;
  width:100%;
  height:20px;
  text-align: center;
}

.slider-dots .slider-dot{
  display: inline-block;
  width:20px;
  height:20px;
  border-radius: 50%;
  border:2px solid #CCCCCC;
  margin-right:10px;
}
.slider-dots .slider-dot:hover{
  border:2px solid darkred;
}
.active{
  background-color:blue;
}
